{% extends 'base.html' %}
{% load static %}


{% block content%}


<div class="container">
    <div class="row p-5">
        <div class="col">
            <img src="{% static 'img/pp11.jpg'%}" class="rounded" style="max-width: 70%;" alt="" srcset="">
        </div>


        <div class="col" style="border-left: 1px solid grey;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fuga suscipit sunt dolor officiis non
            eligendi laboriosam nesciunt ipsam repellendus, sequi saepe, sapiente facilis? Sit, voluptatibus deleniti
            voluptate aspernatur quasi ut omnis fuga incidunt provident laudantium facere reprehenderit pariatur tenetur
            distinctio qui ratione quia nam nisi optio rerum tempora aliquam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fuga suscipit sunt dolor officiis non
            eligendi labontium facere reprehenderit pariatur tenetur
            distinctio qui ratione quia nam nisi optio rerum tempora aliquam.
            <br><br><br><br><br><br> <div style="background: grey; width: 10rem; color: black;" class="p-2">
                Powered by Bla<span style=" font-weight: bold; color:red;">cc</span>op
            </div>
        </div>
    </div>
</div>


{% endblock content%}