{% extends 'base.html' %}
{%load crispy_forms_tags %}


{% block content%}

<div class="container  p-5">
    
    <div class="p-2" style="background-color: rgba(143, 214, 140, 0.685);">
        <p><small class="p-2"> Tired of the hassle of going around bells to print or make a photocopy,
            well your in luck because now you can sit back let us handle your printing dilemma  </small></p>
    </div>
    <br>
    <nav class="nav nav-tabs nav-stacked">
        <a class="nav-link active" href="#"></a>
        <a class="nav-link" href="#">Link</a>
    </nav>
</div>


{% endblock content %}